body{
    background-image: url(img/WhatsApp\ Image\ 2024-06-17\ at\ 14.53.02.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

*#ano1900{
    width: 90vw;
    border: 1px solid black;
    margin:10px auto;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(235, 247, 202);

}

*#ano1910{
    width: 90vw;
    border: 1px solid black;
    margin:10px auto;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(235, 247, 202);

}
.corset{
    display: flex;
    align-items: center;
    justify-content: space-around;
}